@using Microsoft.AspNetCore.Mvc.TagHelpers
@using Microsoft.AspNetCore.Mvc.Localization
@inject SignInManager<AppUser> SignInManager
@inject IViewLocalizer Localizer
@model RoomReservation.Models.AccountViewModels.PasswordViewModel

@{
    ViewData["Title"] = Localizer["Change Password"];
}

@if (SignInManager.IsSignedIn(User))
{
    <div class="card bg-secondary mb-3">
        <div class="card-header text-center text-white">@Localizer["Change Password"]</div>

        <div class="card-body bg-light text-center">
            <form asp-action="ChangePassword" method="post">
                @Html.AntiForgeryToken()
                <div asp-validation-summary="All" class="alert-danger"></div>
                <div class="form-group mt-3">
                    <input type="password" asp-for="Password" class="form-control" placeholder="@Localizer["Old Password"]"/>
                </div>

                <div class="form-group mt-3">
                    <input type="password" asp-for="NewPassword" class="form-control" placeholder="@Localizer["New Password"]"/>
                </div>

                <div class="form-group mt-3">
                    <input type="password" asp-for="NewPasswordConfirm" class="form-control" placeholder="@Localizer["Confirm Password"]"/>
                </div>

                <div class="form-group mt-3">
                    <input type="submit" value="@Localizer["Save"]" class="btn btn-primary"/>
                    <a class="btn btn-secondary" asp-controller="Home" asp-action="Index">@Localizer["Cancel"]</a>
                </div>

            </form>
        </div>
    </div>
}

@section Scripts {
    @{ await Html.RenderPartialAsync("_ValidationScriptsPartial"); }
}